<header id="header" class="d-flex align-items-center" style="margin-bottom: -30px;">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between" style="margin-left: -10px;">
        <a href="home" class="image d-flex align-items-center">
          <img class="logocompany"/>
        </a>
        <a class="nav-item" href="inicio" (click)="logOut()" style="margin-bottom: 59px;">Salir</a>
    </div>

</header>
    <div class="container">
      <div class="row mt-2" *ngIf="alert.show">
        <div class="col-sm-12 col-md-6 mx-auto">  
          <div class="alert alert-danger alert-fixed-top" [ngClass]="{'show': showError}" *ngIf="showError">
            {{ alertMessage }}
          </div>
        </div>
      </div>
  </div>
<form [formGroup]="financing_form">
  <div class="card-propietary ml-4">
    <div class="title">
      <div class="row">
        <div class="col-6">
          <p class="title-text">
            Información del Propietario
          </p>
        </div>
        <div class="col-6 image-coin" *ngIf="activateCoin" style="margin-left: 465px"> 
          <p class="title-mount">
            {{Mountfinancing}}$
          </p>
        </div>
      </div>


    </div>
    <div class="data">
      <div class="range">
          <div class="fill" style="margin-top: -15px;">
          </div>
      </div>

        <div class="row">
          <div class="col-lg-3">
              <div class="form-outline">
                  <strong class="form-label" for="form3Examplev5">Propietarios</strong>
                  <div >
                  <ng-autocomplete  [data]="propietaryList" [searchKeyword]="keyword" 
                                  placeholder="Seleccionar Propietario" (selected)='getSearchVehicle($event)'
                                  [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">                                 
                  </ng-autocomplete>
              
                  <ng-template #itemTemplate let-item >
                      <a [innerHTML]="item.value"></a>
                  </ng-template>
              
                  <ng-template #notFoundTemplate let-notFound  >
                      <div [innerHTML]="notFound"></div>
                  </ng-template>
                </div>
              </div>
          </div> 
          <div class="col-lg-2">
            <div class="form-outline">
              <strong class="form-label required" for="form3Examplea8">Tipo</strong>
              <select formControlName="xvehiculo" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && financing_form.get('xvehiculo').errors } " (change)="mountQuotes()">
                <option value="Vehiculo">Vehiculo</option>
                <option value="Motocicleta">Motocicleta</option>
              </select>                      
            </div> 
          </div>
          <div class="col-lg-3">
            <div class="form-outline">
                <strong class="form-label" for="form3Examplev5">Vehículo del Propietario</strong>
                <div >
                <ng-autocomplete  [data]="vehiclePropietaryList" [searchKeyword]="keyword" 
                                placeholder="Seleccionar Vehiculo" (selected)='getSearchInfoPropietary($event)'
                                [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">                                 
                </ng-autocomplete>
            
                <ng-template #itemTemplate let-item >
                    <a [innerHTML]="item.value"></a>
                </ng-template>
            
                <ng-template #notFoundTemplate let-notFound  >
                    <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>    
            </div>
          </div>
          <div class="col-lg-2">
              <div class="form-outline form-white">
                <strong class="form-label required" for="form3Examplea8">Identificación</strong>
                <p class="mt-3">{{documento}}</p>
              </div>
          </div>
          <div class="col-lg-2">
              <div class="form-outline form-white">
                <strong class="form-label required" for="form3Examplea8">Teléfono</strong>
                  <p class="mt-3">{{telefono}}</p>
              </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-lg-2">
            <div class="form-outline form-white">
              <strong class="form-label required" for="form3Examplea8">Correo</strong>
                <p class="mt-3 text-lowercase">{{correo}}</p>
            </div>
          </div>

          <div class="col-lg-3">
              <div class="form-outline form-white">
                <strong class="form-label required" for="form3Examplea8">Modelo - Versión</strong>
                  <p class="mt-3 text-lowercase">{{detallecarro}}</p>
              </div>
          </div>


          <div class="col-lg-3">
            <div class="form-outline">
                <strong class="form-label" for="form3Examplev5">Estado</strong>
                <div >
                <ng-autocomplete  
                    [data]="stateList" 
                    [searchKeyword]="keyword" 

                    placeholder="Seleccionar Estado"
                    formControlName="cestado"
                    [itemTemplate]="itemTemplate" 
                    [notFoundTemplate]="notFoundTemplate">                                 
                </ng-autocomplete>
            
                <ng-template #itemTemplate let-item >
                    <a [innerHTML]="item.value"></a>
                </ng-template>
            
                <ng-template #notFoundTemplate let-notFound  >
                    <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
            </div>
          </div>

          <div class="col-lg-3">
            <div class="form-outline">
                <strong class="form-label" for="form3Examplev5">Servicio</strong>
                <div >
                <ng-autocomplete  
                  [data]="serviceList"
                  [searchKeyword]="keyword" 
                  placeholder="Seleccionar Servicio" 

                  (selected)='getReplacement($event)'
                  [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">                                 
                </ng-autocomplete>
            
                <ng-template #itemTemplate let-item >
                    <a [innerHTML]="item.value"></a>
                </ng-template>
            
                <ng-template #notFoundTemplate let-notFound  >
                    <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="ml-4" *ngIf="activeProviders">
    <div class="row" style="width: 100%;">
      <div class="col-md-7" *ngIf="activeProviders">
        <div class="card" style="--bs-gutter-x: 2.8rem; margin-top: 15px;">
          <!-- <div class="card-error container registration-form" *ngIf="activateError">
            <a class="card1">
            <p>Error</p>
            <p class="small">{{this.errorMessage}}</p>
            <div class="go-corner">
              <div class="go-arrow">
                →
              </div>
            </div>
          </a>
          </div> -->
        <div class="loader container registration-form" *ngIf="activateLoader"></div>

        <div formArrayName="proveedores" class="col-lg-12" >
          <p class="title">Lista de Proveedores</p>
          <table class="table-responsive" style="--bs-gutter-x: 2.8rem; margin-top: 15px;" *ngIf="providerList && providerList.length > 0">
            <thead class="thead-light"> 
              <tr>
                <th scope="col">Proveedor</th>
                <th scope="col">Teléfono</th>

                <th scope="col"  *ngIf="replacement" >Repuestos</th>
                <th scope="col"  *ngIf="replacement">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngFor="let creds of proveedores.controls; let i=index">
              <tr  [formGroupName]="i">

                <td>{{ creds.value.xproveedor }}</td>

                <td>{{ creds.value.xtelefono }}</td>


                <td *ngIf="replacement">
  
                        <div >
                        <ng-autocomplete  
                        [data]="replacementList" 
                        [searchKeyword]="keyword" 
                        formControlName="crepuesto"
                        placeholder="Seleccionar Repuesto" 
                        [itemTemplate]="itemTemplate" 
                        [notFoundTemplate]="notFoundTemplate">                                 
                        </ng-autocomplete>
                    
                        <ng-template #itemTemplate let-item >
                            <a [innerHTML]="item.value"></a>
                        </ng-template>
                    
                        <ng-template #notFoundTemplate let-notFound  >
                            <div [innerHTML]="notFound"></div>
                        </ng-template>
                      </div>

                </td>

                <td class="items" *ngIf="replacement">
                  <input type="number" formControlName="cantidad" class="form-control form-control-alternative" />
                </td>

                <td class="items">
                  <input type="number" formControlName="monto" class="form-control form-control-alternative" />
                </td>

                <td><button class="follow" (click)="addpprovider(i)">Seleccionar</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card" style="--bs-gutter-x: 2.8rem; margin-top: 15px;">
          <div formArrayName="proveedores_seleccionados" class="col-lg-12" *ngIf="providerSelected">
            <p class="title">Lista de Proveedores seleccionados</p>
            <table class="table-responsive" style="--bs-gutter-x: 2.8rem; margin-top: 15px;" *ngIf="providerList && providerList.length > 0">
              <thead class="thead-light"> 
                <tr>
                  <th scope="col" style="width: 73%;">Proveedor</th>

                  <!-- <th scope="col"  *ngIf="replacement" >Repuestos</th>
                  <th scope="col"  *ngIf="replacement">Cantidad</th> -->
                  <th scope="col">Precio</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody *ngFor="let creds of proveedores_seleccionados.controls; let i=index">
                <tr  [formGroupName]="i">

                  <td>{{ creds.value.xproveedor }}</td>


                  <!-- <td *ngIf="replacement">
    
                    {{ creds.value.xrepuesto }}

                  </td>

                  <td class="items" *ngIf="replacement">
                    {{ creds.value.cantidad }}
                  </td> -->

                  <td class="items">
                    {{ creds.value.monto }}
                  </td>

                  <td><button class="follow" (click)="removeprovider(i)">Eliminar</button></td>
                </tr>
                <p>Total: {{this.sumofamounts}}$</p>
              </tbody>
            </table>

            <div style="margin-left: auto;">
              <div class="pricingTable ">
                <div class="pricing_heading">
                    <h3 class="title"></h3>
                    <span class="value">
                      Financiamiento del 50%
                      <div class="row" *ngIf="providerSelected">
                        <div class="col-6 ">
                          <img src="../../assets/imagenes/acreedor.png" style="width: 20%;margin-left: 24px;">
                          <p class="title-finan">Acreedores: {{this.half}}$</p>
                        </div>
                        <div class="col-5">
                          <img src="../../assets/imagenes/beneficiario.png" style="width: 24%;margin-left: 24px;">
                          <p class="title-finan">Beneficiarios: {{this.half}}$</p>
                        </div>
                      </div>
                    </span>
                </div>
                <div class="content">
                  <ul>
                    <li *ngFor="let item of financingList">
                        {{ item.xtitulo }} - {{item.fechaCuota}} - {{ item.xmonto_financiado }}$
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</form>

<ng-template #bankModal let-modal>
  <div class="modal fade" [ngClass]="{ 'show': isModalActive }" style="display: block;" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close d-flex align-items-center justify-content-center" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true" class="ion-ios-close"></span>
          </button>
        </div>
        <div class="row no-gutters">
          <div class="col-md-6 d-flex">
            <div class="modal-body p-5 img d-flex image-container2"></div>
          </div>
          <div class="col-md-6 d-flex">
            <div class="modal-body d-flex align-items-center">
              <div class="text w-100 text-center py-5" *ngIf="loading">
                <div id="container">
                  <label class="loading-title">Cargando ...</label>
                  <span class="loading-circle sp1">
                    <span class="loading-circle sp2">
                      <span class="loading-circle sp3"></span>
                    </span>
                  </span>
                </div>
              </div>
              <div class="text w-100 text-center py-5" *ngIf="modalBan">
                <h2 class="mb-0"><span>{{this.messageModal}}</span></h2>
                <p></p>
                <p class="mb-4">{{this.messageModal2}}</p>
                <div class="modal-footer" *ngIf="activateFirst">
                    <button type="button" class="btn btn-primary mx-auto" style="width: 16%;background: #25255f;border: #25255f;" (click)="modal.dismiss()">Sí </button>
                    <button type="button" class="btn btn-danger mx-auto" (click)="showAlternativeMessage()">No</button>
                </div>
                <div class="modal-footer" *ngIf="activateSecond">
                  <button type="button" class="btn btn-primary mx-auto" style="width: 16%;background: #25255f;border: #25255f;" (click)="generateExcel()">Sí </button>
                  <button type="button" class="btn btn-danger mx-auto" (click)="showAlternativeMessageLogout()">No</button>
                </div>
                <div class="modal-footer" *ngIf="activateThree">
                  <button type="button" class="btn btn-primary mx-auto" style="width: 26%;background: #25255f;border: #25255f;" (click)="modal.close()">Aceptar </button>
                </div>
                <div class="modal-footer" *ngIf="activateFour">
                  <button type="button" class="btn btn-primary mx-auto" style="width: 26%;background: #25255f;border: #25255f;" (click)="modal.close()">Aceptar </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<app-footer></app-footer>