<app-toolbar></app-toolbar>
<div class="container">
  <div class="row mt-5" *ngIf="alert.show">
      <div class="col-sm-12 col-md-6 mx-auto">
          <ngb-alert *ngIf="alert.show" [type]="alert.type" (close)="alert.show = false;">{{ alert.message | translate }}</ngb-alert>
      </div>
  </div>
</div>
<div class="container-fluid mt--8">
  <div >
    <div class="col-xl-14 order-xl-1">
      <div>
        <div >
          <form [formGroup]="Tarifas" >
            <div> 
                <div >
                  <div class="col-16">
                    <div >
                      <div >
                        <h1 class="mb-0 text-center" style="color: white;">Costo de Tarifas y Gruas 
                        <button *ngIf="!edit" type="button" class="btn company-detail-button float-right" (click)="Edit()">
                          Editar
                        </button>
                        <button *ngIf="edit" type="submit" class="btn company-detail-button float-right" (click)="onSubmit()">
                          Guardar
                        </button>
                      </h1>
                      </div>
                      <!-- card services data contract -->
                      <div formArrayName="Rates">
                        <div class="row row-cols-1 row-cols-md-6 g-4" >
                          <div class="col" *ngFor="let creds of Rates.controls; let i=index" >
                            <div class="card" [formGroupName]="i">
                              <div class="card-body">

                                <strong class="text-center">Clase</strong>
                                <strong class="text-center">{{creds.xclase}}</strong>

                                <input disabled type="text"  class="form-control form-control-alternative" formControlName="xclase"/>

                                <strong class="text-center">Grupo</strong>
                                <input disabled type="text" class="form-control form-control-alternative" formControlName="xgrupo" />


                                <p class="card-text ">
                                  <label class="form-label">Tasa de Exceso</label>

                                  <input type="text"  class="form-control form-control-alternative"  formControlName="ptasa_exceso"/>
                                  <label class="form-label">Monto de grua</label>

                                  <input type="number"  class="form-control form-control-alternative" formControlName="mgrua" />
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </form> 
        </div>
      </div>
    </div>
  </div>
</div>


