.responsive{
  display:none ;
}
@media screen and (min-width: 1024px) {
  .responsive{
    display: revert;
    position: absolute;
    margin-top: -23px;
  }
  .dropdown-item{
    padding: 20px;
    margin-top: 20px;
  }
  .offcanvas{
  padding: 120px;
  }

  offcanvas-body{
    padding:230px
  } 
  .dropdown{
    padding: 6px;
  }


}

@media screen and (max-width: 1023px) {
  .responsive{
    display: revert;
    position: absolute;
    margin-top: -23px;
  }
  .dropdown-item{
    padding: 20px;
    margin-top: 20px;
  }
  .offcanvas{
  padding: 120px;
  }
  .dropdown{
    padding: 6px;
  }
  offcanvas-body{
    padding:230px
  } 

}


