<title>Registrate</title>
<section class="h-100 h-custom gradient-custom-2 breadcrumbs d-flex " style="background-image: url(./../../../assets/imagenes/arys/register.jpg);">
    <div class="container py-5 h-100 " >
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <!-- formulario de busqueda y -->
            
            <div class="card-body p-0">
              <div class="row g-0">

                <!-- informacion Del Vehiculo -->
                <div class="col-lg-6">
                  <div class="p-5">
                    <h3 class="fw-normal mb-5" style="color: #ffb700">Información del Vehiculo</h3>  
                   
                   <!-- Primera fila -->
                    <div class="row">

                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label class="form-label" >Marca</label>
                          <input type="text"  class="form-control form-control-lg" />

                        </div>
                      </div>

                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label class="form-label" >Modelo</label>
                          <input type="text"  class="form-control form-control-lg" />
                        </div>
                      </div>
                                            <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label class="form-label" >Versión</label>
                          <input type="text"  class="form-control form-control-lg" />

                        </div>
                      </div>


                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label class="form-label">Serial de Carroceria</label>
                          <input type="text"  class="form-control form-control-lg" />
                        </div>
                      </div>

                    </div>

                    <!-- Segunda fila -->
                    <div class="row">


                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label class="form-label" >Versión</label>
                          <input type="text"  class="form-control form-control-lg" />

                        </div>
                      </div>


                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label class="form-label">Serial de Carroceria</label>
                          <input type="text"  class="form-control form-control-lg" />
                        </div>
                      </div>


                    </div>

                    <!-- Tercera Fila -->
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label class="form-label" >Placa</label>
                          <input type="text"  class="form-control form-control-lg" />

                        </div>
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label class="form-label">Color</label>
                          <input type="text"  class="form-control form-control-lg" />
                        </div>
                      </div>
                    </div>

                    <!-- Cuarta Fila -->
                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label class="form-label" >Placa</label>
                          <input type="text"  class="form-control form-control-lg" />

                        </div>
                      </div>
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label class="form-label">Color</label>
                          <input type="text"  class="form-control form-control-lg" />
                        </div>
                      </div>
                    </div>
            
                  </div>
                </div>
                <!-- Fin de Información del Vehiculo -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR-KEY-HERE"></script>
<script>window.global = window;</script> 
