<app-toolbar ></app-toolbar>

<section>
  <div >
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
          <!-- formulario de busqueda y -->
          <form [formGroup]="search_form"> <div class="card-header"><h2>Detalles del Cliente</h2></div>
            <div class="row g-0">

              <!-- primera columna -->
              <div class="col-lg-4">
                 <div class="row">
                        <div class="col-md-6 mb-4 pb-2">
                          <div class="form-outline">
                            <label class="form-label">Nombre del cliente</label>
                            <input type="text" formControlName="xnombre" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xnombre').errors }"/>
                            <div *ngIf="submitted && search_form.get('xnombre').errors"  class="invalid-feedback">
                              <div *ngIf="search_form.get('xnombre').errors.required">Se requiere completar el campo</div>
                            </div>
                          </div>
                        </div>
    
    
                        <div class="col-md-6 mb-4 pb-2">
                          <div class="form-outline">
                            <label class="form-label" for="form3Examplev3">Apellido del cliente</label> 
                            <input type="text" formControlName="xapellido" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xapellido').errors }"/>
                            <div *ngIf="submitted && search_form.get('xapellido').errors"  class="invalid-feedback">
                              <div *ngIf="search_form.get('xapellido').errors.required">Se requiere completar el campo</div>
                            </div>
                          </div>
                        </div>
                 </div>

                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <label class="form-label">Año del automovil</label>
                        <input type="text"  formControlName="cano" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('cano').errors }"/>
                        <div *ngIf="submitted && search_form.get('cano').errors"  class="invalid-feedback">
                          <div *ngIf="search_form.get('cano').errors.required">Se requiere completar el campo</div>
                        </div>
                      </div>
                    </div>


                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <label class="form-label" for="form3Examplev3">Color</label>
                        <select formControlName="xcolor" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xcolor').errors } " >                        
                          <option>       <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                            <span class="input-group-text border-0" id="search-addon">
                              <i class="fas fa-search"></i>
                            </span>  </option>
                         <option *ngFor="let color of colorList" value="{{ color.value }}">{{ color.value }}</option>
                        </select>                        
                         <div *ngIf="submitted && search_form.get('xcolor').errors"  class="invalid-feedback">
                          <div *ngIf="search_form.get('xcolor').errors.required">Se requiere completar el campo</div>
                        </div>
                      </div>
                    </div>

                  </div>
                  
                  <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label class="form-label" for="form3Examplev2">Marca</label>
                          <select formControlName="cmarca" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('cmarca').errors } " (change)="getModeloData()">
                            <option *ngFor="let marca of marcaList" value="{{ marca.id }}">{{ marca.value }}</option>
                          </select>
                          <div *ngIf="submitted && search_form.get('cmarca').errors"  class="invalid-feedback">
                            <div *ngIf="search_form.get('cmarca').errors.required"></div>
                        </div>
                        </div>
                      </div>

                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                         <label class="form-label" for="form3Examplev4">Modelo</label>
                         <select formControlName="cmodelo" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('cmodelo').errors }" (change)="getVersionData()">
                          <option></option>
                          <option *ngFor="let modelo of modeloList" value="{{ modelo.cmodelo }}">{{ modelo.xmodelo }}</option>
                        </select>                       
                         <div *ngIf="submitted && search_form.get('cmodelo').errors"  class="invalid-feedback">
                           <div *ngIf="search_form.get('cmodelo').errors.required">Se requiere completar el campo</div>
                         </div>
                       </div>
                     </div>
                    </div>

                  <div class="row">

                    <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">
                      <div class="form-outline">
                        <label class="form-label" for="form3Examplev5">Corredor</label>
                        <select formControlName="ccorredor" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('ccorredor').errors } ">
                          <option *ngFor="let corredor of corredorList" value="{{ corredor.id }}">{{ corredor.value }}</option>
                        </select>                        
                        <div *ngIf="submitted && search_form.get('ccorredor').errors"  class="invalid-feedback">
                          <div *ngIf="search_form.get('ccorredor').errors.required">Se requiere completar el campo</div>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">                        
                        <label class="form-label" for="form3Examplev4">Cobertura</label>
                        <select formControlName="xcobertura" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xcobertura').errors } ">
                          <option *ngFor="let cobertura of coberturaList" value="{{ cobertura.value }}">{{ cobertura.value }}</option>
                        </select>  
                         <div *ngIf="submitted && search_form.get('xcobertura').errors"  class="invalid-feedback">
                          <div *ngIf="search_form.get('xcobertura').errors.required">Se requiere completar el campo</div>
                        </div>
                      </div>
                    </div>

                  </div>
              </div>

              <!-- segunda columna -->
              <div class="col-lg-4 bg-indigo ">
                  <div class="row">
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <label class="form-label" for="form3Examplev2">Identificación</label>
                        <input type="text" formControlName="xrif_cliente" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xrif_cliente').errors }"/>
                        <div *ngIf="submitted && search_form.get('xrif_cliente').errors"  class="invalid-feedback">
                          <div *ngIf="search_form.get('xrif_cliente').errors.required"></div>
                      </div>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <label class="form-label" for="form3Examplev3">Fecha de nacimiento</label>
                        <input type="date" formControlName="fnac" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('fnac').errors }"/>
                        <div *ngIf="submitted && search_form.get('fnac').errors"  class="invalid-feedback">
                          <div *ngIf="search_form.get('fnac').errors.required">Se requiere completar el campo</div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="mb-4 pb-2">
                    <div class="form-outline form-white">
                      <label class="form-label" for="form3Examplea2">Dirección del cliente</label>
                      <input type="text" formControlName="xdireccionfiscal" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xdireccionfiscal').errors }"/>
                      <div *ngIf="submitted && search_form.get('xdireccionfiscal').errors"  class="invalid-feedback">
                        <div *ngIf="search_form.get('xdireccionfiscal').errors.required"></div>
                    </div>
                    </div>
                  </div>
              

                  <div class="row">
                    <div class="col-md-5 mb-4 pb-2">
                      <div class="form-outline form-white">
                        <label class="form-label" for="form3Examplea7">Versión</label>
                        <select formControlName="cversion" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('cversion').errors }" >
                          <option *ngFor="let version of versionList" value="{{ version.cversion }}">{{ version.xversion }}</option>
                        </select>                       
                         <div *ngIf="submitted && search_form.get('cversion').errors"  class="invalid-feedback">
                          <div *ngIf="search_form.get('cversion').errors.required"></div>
                      </div>
                      </div>
                    </div>
                    <div class="col-md-5 mb-4 pb-2">
                      <div class="form-outline form-white">
                        <label class="form-label" for="form3Examplea8">Serial de motor</label>
                        <input type="text" formControlName="xserialmotor" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xserialmotor').errors }"/>
                        <div *ngIf="submitted && search_form.get('xserialmotor').errors"  class="invalid-feedback">
                          <div *ngIf="search_form.get('xserialmotor').errors.required"></div>
                      </div>
                      </div>
                    </div>
                  </div>

                   <div class="row">

                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">                        
                        <label class="form-label" for="form3Examplev4">Plan de servicio</label>
                        <select formControlName="cplan" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('cplan').errors }" >
                          <option></option>
                          <option *ngFor="let plan of planList" value="{{ plan.id }}">{{ plan.value }}</option>
                        </select>                       
                       <div *ngIf="submitted && search_form.get('cplan').errors"  class="invalid-feedback">
                          <div *ngIf="search_form.get('cplan').errors.required">Se requiere completar el campo</div>
                        </div>
                      </div>
                    </div>



  
                      <div class="col-md-6 mb-4 pb-2 mb-md-0 pb-md-0">
                        <div class="form-outline">
                          <label class="form-label" for="form3Examplev5">Tipo de vehículo</label>
                          <select formControlName="xtipo" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xtipo').errors }"  >
                            <option></option>
                            <option *ngFor="let tipo of tipoList" value="{{ tipo.value }}">{{ tipo.value }}</option>
                          </select>                       
                           <div *ngIf="submitted && search_form.get('xtipo').errors"  class="invalid-feedback">
                            <div *ngIf="search_form.get('xtipo').errors.required">Se requiere completar el campo</div>
                          </div>
                        </div>
                      </div>
                      
                  </div> 

              </div>

             <!-- tercera columna -->
              <div class="col-lg-4">
                 <div class="row">
                        <div class="col-md-6 mb-4 pb-2">
                          <div class="form-outline">
                            <label class="form-label">Número del contacto</label>
                            <input type="text" formControlName="xtelefono_prop" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xtelefono_prop').errors }"/>
                            <div *ngIf="submitted && search_form.get('xtelefono_prop').errors"  class="invalid-feedback">
                              <div *ngIf="search_form.get('xtelefono_prop').errors.required">Se requiere completar el campo</div>
                            </div>
                          </div>
                        </div>
    
    
                        <div class="col-md-6 mb-4 pb-2">
                          <div class="form-outline">
                            <label class="form-label" for="form3Examplev3">Correo electrónico</label>
                            <input type="email" formControlName="email" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('email').errors }"/>
                            <div *ngIf="submitted && search_form.get('email').errors"  class="invalid-feedback">
                              <div *ngIf="search_form.get('email').errors.required">Se requiere completar el campo</div>
                            </div>
                          </div>
                        </div>
                 </div>

                  <div class="row">


                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <label class="form-label" >Puestos de pasajeros</label>
                        <input type="text" formControlName="ncapacidad_p" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('ncapacidad_p').errors }"/>
                        <div *ngIf="submitted && search_form.get('ncapacidad_p').errors"  class="invalid-feedback">
                          <div *ngIf="search_form.get('ncapacidad_p').errors.required">Se requiere completar el campo</div>
                        </div>
                      </div>
                    </div>






                    <div class="col-md-6 mb-4 pb-2">
                      <div class="form-outline">
                        <label class="form-label" for="form3Examplev3">Placa</label>
                        <input type="text" formControlName="xplaca" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xplaca').errors }"/>
                        <div *ngIf="submitted && search_form.get('xplaca').errors"  class="invalid-feedback">
                          <div *ngIf="search_form.get('xplaca').errors.required">Se requiere completar el campo</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label class="form-label" for="form3Examplev2">Serial de carroceria</label>
                            <input type="text" formControlName="xserialcarroceria" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xserialcarroceria').errors }"/>
                          <div *ngIf="submitted && search_form.get('xserialcarroceria').errors"  class="invalid-feedback">
                            <div *ngIf="search_form.get('xserialcarroceria').errors.required"></div>
                        </div>
                        </div>
                      </div>

                       <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                         <label class="form-label" for="form3Examplev4">Moneda</label>
                         <select formControlName="cmoneda" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('cmoneda').errors }" >
                          <option *ngFor="let moneda of coinList" value="{{ moneda.id }}">{{ moneda.value }}</option>
                        </select>                           
                         <div *ngIf="submitted && search_form.get('cmoneda').errors"  class="invalid-feedback">
                           <div *ngIf="search_form.get('cmoneda').errors.required">Se requiere completar el campo</div>
                         </div>
                       </div>
                     </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6 mb-4 pb-2">
                        <div class="form-outline">
                          <label class="form-label" >Tipo de clase</label>
                          <select formControlName="xuso" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xuso').errors } " (change)="getTipo()">
                            <option *ngFor="let uso of usoList" value="{{ uso.value }}">{{ uso.value }}</option>
                          </select>                       
                           <div *ngIf="submitted && search_form.get('xuso').errors"  class="invalid-feedback">
                            <div *ngIf="search_form.get('xuso').errors.required">Se requiere completar el campo</div>
                          </div>
                        </div>
                      </div>
                    </div>


              </div>
              
             
            <div class="button">
              <button type="button" class="btn btn-light btn-lg" data-mdb-ripple-color="dark" (click)="onSubmit(search_form.value)">Subscribir </button>
            </div>
            
          </div>
        </form>
      </div>
    </div>
 </div>
</section>


<footer>    
  <div class="container">       
    <div class="row">
      <div class="col-sm-4">
        <div class="footer-widget">
          <h3 style="margin-right: 110px;">Horario</h3>
          <div class="footer-widget-content">
            <div class="open-time ">
                <ul class="opening-time">
                  <li><span></span><h6>Horario disponible de Lunes a Viernes</h6>
                  <li><span></span><h6><strong>A partir de :</strong> 8am - 4pm</h6>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="footer-widget" style="margin-top: 50px;text-align: -webkit-center;">
          <h6 >Copyright© CompuAmerica 2022.</h6>
          <div class="footer-widget-content">
              <br>
              <h6>6 C. Negrín, Caracas 1050, Frente al CC. El Recreo. Distrito Capital</h6>
              <div class="footer-social">
          </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="footer-widget">
          <h3>Redes Sociales</h3>
          <div class="footer-widget-content" style=" text-align: -webkit-center;">
            <div class="images-gellary">
              <p></p>
              <table style="margin-left: 25px;">
                <tr>
                  <td>
                    <ul>
                      <li ><a href="https://www.facebook.com/Mundial Autos-Sas-107360681039695" target="_blank"><img  style="border-radius: 6px;background-color: #ffffff7d;" src="./assets/imagenes/facebook.png" alt="Instagram 01" width="40px" height="40px"></a></li>
                      <br>
                      <li><a href="https://www.instagram.com/Mundial Autoss.vzla/?hl=es-la" target="_blank"><img style="background-color: #ffffff7d;border-radius: 15px;" src="./assets/imagenes/instagram.png" alt="Instagram 02" width="40px" height="40px"></a></li>
                    </ul>
                  </td>
                  <td>
                    <ul>
                      <li style="border-radius: 15px;"><a  href="https://twitter.com/Mundial Autos" target="_blank"><img style="background-color: #ffffff7d;" src="./assets/imagenes/twitter.png" alt="Instagram 01" width="40px" height="40px"></a></li>
                      <br>
                      <li style="border-radius: 15px;"><a href="https://co.linkedin.com/company/linkedin-com-company-Mundial Autossas" target="_blank"><img  style="background-color: #ffffff7d"src="./assets/imagenes/linkedin.png"  width="40px" height="40px"></a></li>
                    </ul>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
