section{
    padding: 0px 0px;
}

h2{
    color: #364d59;
}


.col-lg-4{
    padding: 10px;
}

form{
    padding: 40px;
}

footer{
    background-color: #132646;
    border-top-style: solid;
    border-color: white;
}

h3,h6{
    color: white;
}

.g-0{
    background-color: whitesmoke;
    border-radius: 0px 0px 5px 5px;
}


button{
    margin: 21px;
    background-color: #142263;
    color: white;
}

.button{
    text-align-last: center
}

.card-header{
padding: 2px;
border-radius: 5px 5px 0px 0px;
text-align-last: center;
}

option{
    font-size: 17px;
}
select{
    font-size: 17px;

}