<app-toolbar></app-toolbar>
<section>
  <div>
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <!-- formulario de busqueda y -->
        <form [formGroup]="search_form">
          <div class="row g-0">
            <!-- Datos personales -->
            <div class="card">
             <div class="card-header company-card-header"><h5 class="card-title">Datos personales</h5></div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
                    <div class="form-outline">
                      <label class="form-label">Nombre del cliente</label>
                      <input type="text" formControlName="xnombre" class="form-control form-control-lg" required [ngClass]="{ 'is-invalid' : submitted && search_form.get('xnombre').errors }" />
                      <div *ngIf="submitted && search_form.get('xnombre').errors" class="invalid-feedback">
                        <div *ngIf="search_form.get('xnombre').errors.required">Se requiere completar el campo</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
                    <div class="form-outline">
                      <label class="form-label" for="form3Examplev3">Apellido del cliente</label>
                      <input type="text" formControlName="xapellido" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xapellido').errors }" />
                      <div *ngIf="submitted && search_form.get('xapellido').errors" class="invalid-feedback">
                        <div *ngIf="search_form.get('xapellido').errors.required">Se requiere completar el campo</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
                    <div class="form-outline">
                      <label class="form-label" for="form3Examplev2">Identificación</label>
                      <input type="text" formControlName="xrif_cliente" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xrif_cliente').errors }" />
                      <div *ngIf="submitted && search_form.get('xrif_cliente').errors" class="invalid-feedback">
                        <div *ngIf="search_form.get('xrif_cliente').errors.required">Se requiere completar el campo</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
                    <div class="form-outline">
                      <label class="form-label">Número de teléfono</label>
                      <input type="text" formControlName="xtelefono_emp" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xtelefono_emp').errors }" />
                      <div *ngIf="submitted && search_form.get('xtelefono_emp').errors" class="invalid-feedback">
                        <div *ngIf="search_form.get('xtelefono_emp').errors.required">Se requiere completar el campo</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
                    <div class="form-outline">
                      <label class="form-label" for="form3Examplev3">Teléfono alterno</label>
                      <input type="text" formControlName="xtelefono_prop" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xtelefono_prop').errors }" />
                      <div *ngIf="submitted && search_form.get('xtelefono_prop').errors" class="invalid-feedback">
                        <div *ngIf="search_form.get('xtelefono_prop').errors.required">Se requiere completar el campo</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
                    <div class="form-outline">
                      <label class="form-label" for="form3Examplev3">Correo electrónico</label>
                      <input type="email" formControlName="email" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('email').errors }" />
                      <div *ngIf="submitted && search_form.get('email').errors" class="invalid-feedback">
                        <div *ngIf="search_form.get('email').errors.required">Se requiere completar el campo</div>
                      </div>
                    </div>
                  </div>
                  <div class="mb-4 pb-2">
                    <div class="form-outline form-white">
                      <label class="form-label" for="form3Examplea2">Dirección fiscal</label>
                      <input type="text" formControlName="xdireccionfiscal" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xdireccionfiscal').errors }" />
                      <div *ngIf="submitted && search_form.get('xdireccionfiscal').errors" class="invalid-feedback">
                        <div *ngIf="search_form.get('xdireccionfiscal').errors.required">Se requiere completar el campo</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Datos del vehiculo -->
            <div class="card">
             <div class="card-header company-card-header"><h5 class="card-title">Datos del vehículo</h5></div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4 mb-4 pb-2">
                    <div class="form-outline">
                      <label class="form-label" for="form3Examplev2">Marca</label>
                      <select formControlName="xmarca" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xmarca').errors } " (change)="getModeloData()">
                        <option *ngFor="let marca of marcaList" value="{{ marca.value }}">{{ marca.value }}</option>
                      </select>
                      <div *ngIf="submitted && search_form.get('xmarca').errors" class="invalid-feedback">
                        <div *ngIf="search_form.get('xmarca').errors.required">Se requiere completar el campo</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-4 pb-2">
                    <div class="form-outline">
                      <label class="form-label" for="form3Examplev4">Modelo</label>
                      <select formControlName="xmodelo" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xmodelo').errors }" (change)="getVersionData()">
                        <option *ngFor="let modelo of modeloList" value="{{ modelo.value }}">{{ modelo.value }}</option>
                      </select>
                      <div *ngIf="submitted && search_form.get('xmodelo').errors" class="invalid-feedback">
                        <div *ngIf="search_form.get('xmodelo').errors.required">Se requiere completar el campo</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-4 pb-2">
                    <div class="form-outline form-white">
                      <label class="form-label" for="form3Examplea7">Versión</label>
                      <select formControlName="xversion" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xversion').errors }">
                        <option *ngFor="let version of versionList" value="{{ version.value }}">{{ version.value }}</option>
                      </select>
                      <div *ngIf="submitted && search_form.get('xversion').errors" class="invalid-feedback">
                        <div *ngIf="search_form.get('xversion').errors.required">Se requiere completar el campo</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 mb-4 pb-2">
                    <div class="form-outline">
                      <label class="form-label" for="form3Examplev3">Color</label>
                      <select formControlName="xcolor" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xcolor').errors } ">
                        <option *ngFor="let color of colorList" value="{{ color.value }}">{{ color.value }}</option>
                      </select>
                      <div *ngIf="submitted && search_form.get('xcolor').errors" class="invalid-feedback">
                        <div *ngIf="search_form.get('xcolor').errors.required">Se requiere completar el campo</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-4 pb-2">
                    <div class="form-outline">
                      <label class="form-label">Número de pasajeros</label>
                      <input type="text" formControlName="ncapacidad_p" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('ncapacidad_p').errors }" />
                      <div *ngIf="submitted && search_form.get('ncapacidad_p').errors" class="invalid-feedback">
                        <div *ngIf="search_form.get('ncapacidad_p').errors.required">Se requiere completar el campo</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-4 pb-2">
                    <div class="form-outline">
                      <label class="form-label" for="form3Examplev3">Placa</label>
                      <input type="text" formControlName="xplaca" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xplaca').errors }" />
                      <div *ngIf="submitted && search_form.get('xplaca').errors" class="invalid-feedback">
                        <div *ngIf="search_form.get('xplaca').errors.required">Se requiere completar el campo</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-4 pb-2">
                    <div class="form-outline">
                      <label class="form-label" for="form3Examplev2">Serial de carroceria</label>
                      <input type="text" formControlName="xserialcarroceria" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xserialcarroceria').errors }" />
                      <div *ngIf="submitted && search_form.get('xserialcarroceria').errors" class="invalid-feedback">
                        <div *ngIf="search_form.get('xserialcarroceria').errors.required">Se requiere completar el campo</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-4 pb-2">
                    <div class="form-outline form-white">
                      <label class="form-label" for="form3Examplea8">Serial de motor</label>
                      <input type="text" formControlName="xserialmotor" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xserialmotor').errors }" />
                      <div *ngIf="submitted && search_form.get('xserialmotor').errors" class="invalid-feedback">
                        <div *ngIf="search_form.get('xserialmotor').errors.required">Se requiere completar el campo</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 mb-4 pb-2">
                    <div class="form-outline">                        
                      <label class="form-label" for="form3Examplev4">Cobertura</label>
                      <select formControlName="xcobertura" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xcobertura').errors } ">
                        <option value="RCV">RCV</option>
                        <option value="AMPLIA">AMPLIA</option>
                        <option value="PERDIDA TOTAL">PERDIDA TOTAL</option>
                      </select>                         
                       <div *ngIf="submitted && search_form.get('xcobertura').errors"  class="invalid-feedback">
                        <div *ngIf="search_form.get('xcobertura').errors.required">Se requiere completar el campo</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 mb-4 pb-2">
                    <div class="form-outline">
                      <label class="form-label" for="form3Examplev5">Tipo de vehículo</label>
                      <select formControlName="xtipo" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('xtipo').errors }">
                        <option value="Particular">Particular</option>
                        <option value="Rustico">Rustico</option>
                        <option value="Pick-UP">Pick-UP</option>
                        <option value="Carga">Carga</option>
                      </select>
                      <div *ngIf="submitted && search_form.get('xtipo').errors" class="invalid-feedback">
                        <div *ngIf="search_form.get('xtipo').errors.required">Se requiere completar el campo</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-4 pb-2">
                    <div class="form-outline">
                      <label class="form-label">Año del automovil</label>
                      <input type="text" formControlName="cano" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('cano').errors }" />
                      <div *ngIf="submitted && search_form.get('cano').errors" class="invalid-feedback">
                        <div *ngIf="search_form.get('cano').errors.required">Se requiere completar el campo</div>
                      </div>
                    </div>
                  </div>
                 <div class="buton"><button type="button" class="btn btn-light btn-lg" data-mdb-ripple-color="dark" (click)="generateTarifa()">Calcular Tarifa</button></div>

                </div>
              </div>
            </div>
            <!--Detalles del plan -->
            <div class="cards">
              <div class="card-header company-card-header"><h5 class="card-title">Detalles del plan</h5></div>
              <div class="row" style="padding: 10px;">
                <div class="col-md-4 mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label" for="form3Examplev4">Plan de servicio</label>
                    <select formControlName="cplan" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('cplan').errors }">
                      <option *ngFor="let plan of planList" value="{{ plan.id }}">{{ plan.value }}</option>
                    </select>
                    <div *ngIf="submitted && search_form.get('cplan').errors" class="invalid-feedback">
                      <div *ngIf="search_form.get('cplan').errors.required">Se requiere completar el campo</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 mb-4 pb-2 mb-md-0 pb-md-0">
                  <div class="form-outline">
                    <label class="form-label" for="form3Examplev5">Corredor</label>
                    <select formControlName="ccorredor" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('ccorredor').errors } ">
                      <option *ngFor="let corredor of corredorList" value="{{ corredor.id }}">{{ corredor.value }}</option>
                    </select>
                    <div *ngIf="submitted && search_form.get('ccorredor').errors" class="invalid-feedback">
                      <div *ngIf="search_form.get('ccorredor').errors.required">Se requiere completar el campo</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 mb-4 pb-2 mb-md-0 pb-md-0">
                  <div class="form-outline">
                    <label class="form-label" for="form3Examplev5">Suma asegurada de Casco</label>
                    <input type="number" formControlName="msuma_aseg" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('msuma_aseg').errors }" />
                    <div *ngIf="submitted && search_form.get('msuma_aseg').errors" class="invalid-feedback">
                      <div *ngIf="search_form.get('msuma_aseg').errors.required">Se requiere completar el campo</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label" for="form3Examplev4">Tarifa de casco</label>
                    <input type="number" formControlName="mtarifa" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('mtarifa').errors }" />
                    <div *ngIf="submitted && search_form.get('mtarifa').errors" class="invalid-feedback">
                      <div *ngIf="search_form.get('mtarifa').errors.required">Se requiere completar el campo</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 mb-4 pb-2 mb-md-0 pb-md-0">
                  <div class="form-outline">
                    <label class="form-label" for="form3Examplev5">Prima de casco bruta</label>
                    <input type="number" formControlName="mprima_casco" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('mprima_casco').errors }" />
                    <div *ngIf="submitted && search_form.get('mprima_casco').errors" class="invalid-feedback">
                      <div *ngIf="search_form.get('mprima_casco').errors.required">Se requiere completar el campo</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label" for="form3Examplev4">Descuento</label>
                    <input type="number" formControlName="pdescuento" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('pdescuento').errors }" />
                    <div *ngIf="submitted && search_form.get('pdescuento').errors" class="invalid-feedback">
                      <div *ngIf="search_form.get('pdescuento').errors.required">Se requiere completar el campo</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label" for="form3Examplev4">Catastrofico</label>
                    <input type="number" formControlName="mcatastrofico" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('mcatastrofico').errors }" />
                    <div *ngIf="submitted && search_form.get('mcatastrofico').errors" class="invalid-feedback">
                      <div *ngIf="search_form.get('mcatastrofico').errors.required">Se requiere completar el campo</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 mb-4 pb-2 mb-md-0 pb-md-0">
                  <div class="form-outline">
                    <label class="form-label" for="form3Examplev5">Prima de blindaje</label>
                    <input type="number" formControlName="mprima_blindaje" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('mprima_blindaje').errors }" />
                    <div *ngIf="submitted && search_form.get('mprima_blindaje').errors" class="invalid-feedback">
                      <div *ngIf="search_form.get('mprima_blindaje').errors.required">Se requiere completar el campo</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label" for="form3Examplev4">Suma asegurada de blindaje</label>
                    <input type="number" formControlName="msuma_blindaje" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('msuma_blindaje').errors }" />
                    <div *ngIf="submitted && search_form.get('msuma_blindaje').errors" class="invalid-feedback">
                      <div *ngIf="search_form.get('msuma_blindaje').errors.required">Se requiere completar el campo</div>
                    </div>
                  </div>
                </div>
                <div class="button">
                  <button type="button" class="btn btn-light btn-lg" data-mdb-ripple-color="dark" (click)="addAccessory()">Añadir accesorios</button>
                </div>
              </div> 
            </div> 
            <!-- Detalles del recibo -->
            <div class="cards">
              <div class="card-header company-card-header"><h5 class="card-title">Detalles del recibo</h5></div>
              <div class="row" style="padding: 10px;">
                <div class="col-md-4 mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label">Frecuencia de pago</label>
                    <select formControlName="cmetodologiapago" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('cmetodologiapago').errors } ">
                      <option *ngFor="let metodologia of metodologiaList" value="{{ metodologia.id}}">{{ metodologia.value }}</option>
                    </select>
                    <div *ngIf="submitted && search_form.get('cmetodologiapago').errors" class="invalid-feedback">
                      <div *ngIf="search_form.get('cmetodologiapago').errors.required">Se requiere completar el campo</div>
                    </div>
                  </div>
                </div>
                <div class="col-md mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label">Pago fraccionado</label>
                    <section class="example-section">
                      <mat-checkbox formControlName="ifraccionamiento" (change)="changeDivision(search_form.value)">fraccionado</mat-checkbox>
                    </section>
                  </div>
                </div>
                <!-- <mat-card>
                  <mat-card-content>
                    <h2 class="example-h2">Checkbox configuration</h2>
                
                    <section class="example-section">
                      <mat-checkbox class="example-margin" ngModel=" indeterminate">Checked</mat-checkbox>
                      <mat-checkbox class="example-margin" ngModel="indeterminate">Indeterminate</mat-checkbox>
                    </section>
                
                    <section class="example-section">
                      <label class="example-margin">Align:</label>
                      <mat-radio-group ngModel="labelPosition">
                        <mat-radio-button class="example-margin" value="after">After</mat-radio-button>
                        <mat-radio-button class="example-margin" value="before">Before</mat-radio-button>
                      </mat-radio-group>
                    </section>
                
                    <section class="example-section">
                      <mat-checkbox class="example-margin" ngModel="disabled">Disabled</mat-checkbox>
                    </section>
                  </mat-card-content>
                </mat-card>
                
                <mat-card class="result">
                  <mat-card-content>
                    <h2 class="example-h2">Result</h2>
                
                    <section class="example-section">
                      <mat-checkbox
                          class="example-margin"
                          ngModel="checked"
                          [(indeterminate)]="indeterminate"
                          [labelPosition]="labelPosition"
                          [disabled]="disabled">
                        I'm a checkbox
                      </mat-checkbox>
                    </section>
                  </mat-card-content>
                </mat-card> -->
                <div class="col-md-2 mb-4 pb-2 mb-md-0 pb-md-0" *ngIf="cuotas">
                  <div class="form-outline">
                    <label class="form-label" for="form3Examplev5">Número de cuotas</label>
                    <input type="number" formControlName="ncuotas" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('ncuotas').errors }" />
                  </div>
                </div>
                <div class="col-md-2 mb-4 pb-2 mb-md-0 pb-md-0">
                  <div class="form-outline">
                    <label class="form-label" for="form3Examplev5">Fecha de emisión</label>
                    <input type="date" formControlName="femision" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('femision').errors }" />
                    <div *ngIf="submitted && search_form.get('femision').errors" class="invalid-feedback">
                      <div *ngIf="search_form.get('femision').errors.required">Se requiere completar el campo</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label" for="form3Examplev4">Fecha desde (Poliza)</label>
                    <input type="date" formControlName="fdesde_pol" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('fdesde_pol').errors }" />
                    <div *ngIf="submitted && search_form.get('fdesde_pol').errors" class="invalid-feedback">
                      <div *ngIf="search_form.get('fdesde_pol').errors.required">Se requiere completar el campo</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 mb-4 pb-2 mb-md-0 pb-md-0">
                  <div class="form-outline">
                    <label class="form-label" for="form3Examplev5">Fecha hasta (Poliza)</label>
                    <input type="date" formControlName="fhasta_pol" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('fhasta_pol').errors }" />
                    <div *ngIf="submitted && search_form.get('fhasta_pol').errors" class="invalid-feedback">
                      <div *ngIf="search_form.get('fhasta_pol').errors.required">Se requiere completar el campo</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label" for="form3Examplev4">Fecha desde (Recibo)</label>
                    <input type="date" formControlName="fdesde_rec" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('fdesde_rec').errors }" />
                    <div *ngIf="submitted && search_form.get('fdesde_rec').errors" class="invalid-feedback">
                      <div *ngIf="search_form.get('fdesde_rec').errors.required">Se requiere completar el campo</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 mb-4 pb-2 mb-md-0 pb-md-0">
                  <div class="form-outline">
                    <label class="form-label" for="form3Examplev5">Fecha hasta (Recibo)</label>
                    <input type="date" formControlName="fhasta_rec" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('fhasta_rec').errors }"/>                       
                    <div *ngIf="submitted && search_form.get('fhasta_rec').errors"  class="invalid-feedback">
                      <div *ngIf="search_form.get('fhasta_rec').errors.required">Se requiere completar el campo</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-2 mb-4 pb-2">
                  <div class="form-outline">
                    <label class="form-label" for="form3Examplev4">Monto Total</label>
                    <input type="number" formControlName="msuma_blindaje" class="form-control form-control-lg" [ngClass]="{ 'is-invalid' : submitted && search_form.get('msuma_blindaje').errors }" />
                    <div *ngIf="submitted && search_form.get('msuma_blindaje').errors" class="invalid-feedback">
                      <div *ngIf="search_form.get('msuma_blindaje').errors.required">Se requiere completar el campo</div>
                    </div>
                  </div>
                </div>
                <div class="button">
                  <button type="button" class="btn btn-light btn-lg" data-mdb-ripple-color="dark" (click)="onSubmit(search_form.value)">Subscribir</button>
                </div>
              </div> 
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

 <footer>    
  <div class="container">       
    <div class="row">
      <div class="col-sm-4">
        <div class="footer-widget">
          <h3 style="margin-right: 110px;">Horario</h3>
          <div class="footer-widget-content">
            <div class="open-time ">
                <ul class="opening-time">
                  <li><span></span><h6>Horario disponible de Lunes a Viernes</h6>
                  <li><span></span><h6><strong>A partir de :</strong> 8am - 4pm</h6>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="footer-widget" style="margin-top: 50px;text-align: -webkit-center;">
          <h6 >Copyright© CompuAmerica 2022.</h6>
          <div class="footer-widget-content">
              <br>
              <h6>6 C. Negrín, Caracas 1050, Frente al CC. El Recreo. Distrito Capital</h6>
              <div class="footer-social">
          </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="footer-widget">
          <h3>Redes Sociales</h3>
          <div class="footer-widget-content" style=" text-align: -webkit-center;">
            <div class="images-gellary">
              <p></p>
              <table style="margin-left: 25px;">
                <tr>
                  <td>
                    <ul>
                      <li ><a href="https://www.facebook.com/Mundial Autos-Sas-107360681039695" target="_blank"><img  style="border-radius: 6px;background-color: #ffffff7d;" src="./assets/imagenes/facebook.png" alt="Instagram 01" width="40px" height="40px"></a></li>
                      <br>
                      <li><a href="https://www.instagram.com/Mundial Autoss.vzla/?hl=es-la" target="_blank"><img style="background-color: #ffffff7d;border-radius: 15px;" src="./assets/imagenes/instagram.png" alt="Instagram 02" width="40px" height="40px"></a></li>
                    </ul>
                  </td>
                  <td>
                    <ul>
                      <li style="border-radius: 15px;"><a  href="https://twitter.com/Mundial Autos" target="_blank"><img style="background-color: #ffffff7d;" src="./assets/imagenes/twitter.png" alt="Instagram 01" width="40px" height="40px"></a></li>
                      <br>
                      <li style="border-radius: 15px;"><a href="https://co.linkedin.com/company/linkedin-com-company-Mundial Autossas" target="_blank"><img  style="background-color: #ffffff7d"src="./assets/imagenes/linkedin.png"  width="40px" height="40px"></a></li>
                    </ul>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
