
<body>
    <mat-toolbar class="mat-elevation-z8">
        <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
          <mat-icon *ngIf="!sidenav.opened">notes </mat-icon>
          <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
        </button>
    
      </mat-toolbar>
      
      <mat-sidenav-container>
        <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
          <img class="logo logocompany" >
          <mat-divider></mat-divider>
      
            <button mat-button class="menu-button" routerLink="/subscription/fleet-contract-broker-detail">
            <mat-icon>assignment</mat-icon>
            <span style="color: white;">Emitir Polizas</span>
          </button>
          <button mat-button class="menu-button" routerLink="/subscription/fleet-contract-broker-index">
            <mat-icon>credit_card</mat-icon>
            <span style="color: white;">Gestión de Ventas</span>
          </button>
         <!-- <button mat-button class="menu-button" routerLink="/notifications">
            <mat-icon>notification_important</mat-icon>
            <span>Notificaciones</span>
          </button>  -->
          <button mat-button class="menu-button" (click)="logOut()" >
            <mat-icon style="color: white;">exit_to_app</mat-icon>
            <span style="color: white;">Salir</span>
          </button>

        </mat-sidenav>
         <mat-sidenav-content>
          <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
          </div>
        </mat-sidenav-content> 
      </mat-sidenav-container> 
</body>




  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">